# wEnki44 board configuration

# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_WENKI44_LEFT
	bool "wenki44_left"
	depends on SOC_NRF52840_QIAA

config BOARD_WENKI44_RIGHT
	bool "wenki44_right"
	depends on SOC_NRF52840_QIAA