
if SHIELD_PINKY3_LEFT

config ZMK_KEYBOARD_NAME
	default "Pinky3"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_PINKY3_LEFT || SHIELD_PINKY3_RIGHT

config ZMK_SPLIT
	default y

endif
