#
# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

if BOARD_JIRAN_BLE_LITE_LEFT

config ZMK_KEYBOARD_NAME
	default "Jiran BLE Lite"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_JIRAN_BLE_LITE_LEFT


if BOARD_JIRAN_BLE_LITE_LEFT || BOARD_JIRAN_BLE_LITE_RIGHT

config BOARD
	default "jiran_ble_lite"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

endif # BOARD_JIRAN_BLE_LITE_LEFT || BOARD_JIRAN_BLE_LITE_RIGHT
