# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ERGONAUT_ONE_LEFT

config ZMK_KEYBOARD_NAME
	default "Ergonaut One"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ERGONAUT_ONE_LEFT || SHIELD_ERGONAUT_ONE_RIGHT

config ZMK_SPLIT
	default y

endif
