/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	model = "jorian840";
	compatible = "jorian840";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &jian_transform;
        zephyr,console = &cdc_acm_uart;
		zmk,battery = &vbatt;
	};

	jian_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <44>;
		rows = <1>;
					map = <
	RC(0,0) RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)   RC(0,28) RC(0,27) RC(0,26) RC(0,25) RC(0,24) RC(0,23) RC(0,22)
			RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12)  RC(0,34) RC(0,33) RC(0,32) RC(0,31) RC(0,30) RC(0,29)
			RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18)  RC(0,40) RC(0,39) RC(0,38) RC(0,37) RC(0,36) RC(0,35)
									   RC(0,19) RC(0,20) RC(0,21)  RC(0,43) RC(0,42) RC(0,41)
		>;
	};


	corjik_transform: keymap_transform_1 {
		compatible = "zmk,matrix-transform";
		columns = <44>;
		rows = <1>;
					map = <
	RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)   RC(0,28) RC(0,27) RC(0,26) RC(0,25) RC(0,24) RC(0,23)
	RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12)  RC(0,34) RC(0,33) RC(0,32) RC(0,31) RC(0,30) RC(0,29)
	RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18)  RC(0,40) RC(0,39) RC(0,38) RC(0,37) RC(0,36) RC(0,35)
							   RC(0,19) RC(0,20) RC(0,21)  RC(0,43) RC(0,42) RC(0,41)
		>;
	};


	fifi_transform: keymap_transform_2 {
		compatible = "zmk,matrix-transform";
		columns = <44>;
		rows = <1>;
					map = <
	RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)   RC(0,28) RC(0,27) RC(0,26) RC(0,25) RC(0,24)
	RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12)  RC(0,34) RC(0,33) RC(0,32) RC(0,31) RC(0,30)
	RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18)  RC(0,40) RC(0,39) RC(0,38) RC(0,37) RC(0,36)
					   RC(0,19) RC(0,20) RC(0,21)  RC(0,43) RC(0,42) RC(0,41)
		>;
	};


	ferris_transform: keymap_transform_3 {
		compatible = "zmk,matrix-transform";
		columns = <44>;
		rows = <1>;
					map = <
	RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)   RC(0,28) RC(0,27) RC(0,26) RC(0,25) RC(0,24)
	RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12)  RC(0,34) RC(0,33) RC(0,32) RC(0,31) RC(0,30)
	RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18)  RC(0,40) RC(0,39) RC(0,38) RC(0,37) RC(0,36)
					           RC(0,19) RC(0,20)  RC(0,42) RC(0,41)
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";
		input-gpios
		= <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		;
    };

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};


	vbatt: vbatt {
		compatible = "zmk,battery-voltage-divider";
		label = "BATTERY";
		io-channels = <&adc 2>;
		output-ohms = <2000000>;
		full-ohms = <(2000000 + 820000)>;
	};
};


&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&usbd {
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00026000>;
		};
		code_partition: partition@26000 {
			label = "code_partition";
			reg = <0x00026000 0x000c6000>;
		};

		/*
		 * The flash starting at 0x000ec000 and ending at
		 * 0x000f3fff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@ec000 {
			label = "storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};