# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_JORIAN840_LEFT

	config ZMK_KEYBOARD_NAME
	default "Jorian840"

endif # BOARD_JORIAN840_LEFT


if BOARD_JORIAN840_LEFT || BOARD_JORIAN840_RIGHT

config BOARD
	default "jorian840"

config ZMK_SPLIT
	default y

menuconfig SENSOR
    bool "Sensor Drivers"

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

endif # BOARD_JORIAN840_LEFT || BOARD_JORIAN840_RIGHT