on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache west modules
        uses: actions/cache@v2
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: West Init
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-init
        with:
          args: 'init "-l config"'
      - name: West Update
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-update
        with:
          args: 'update'
      - name: West Config Zephyr Base
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-config
        with:
          args: 'config "--global zephyr.base-prefer configfile"'
      - name: West Zephyr Export
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-zephyr-export
        with:
          args: 'zephyr-export'
      - name: West Build (Skean Left)
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-build-skean-left
        with:
          args: 'build "-s zmk/app -b skean_left -- -DZMK_CONFIG=/github/workspace/config"'
      - name: Skean DTS File
        if: ${{ always() }}
        run: cat -n build/zephyr/skean_left.dts.pre.tmp
      - name: Skean Left Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 skean_left.uf2
      - name: Archive (Skean Left)
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: skean_left.uf2
      - name: West Build (Skean Right)
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-build-skean-right
        with:
          args: 'build "--pristine -s zmk/app -b skean_right -- -DZMK_CONFIG=/github/workspace/config"'
      - name: Skean Right Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 skean_right.uf2
      - name: Archive (Skean Right)
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: skean_right.uf2
